<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">
    <statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener" />

    <property name="pattern"
        value="%d{HH:mm:ss.SSS} %-5level %rightclass#%rightmethod:%rightline - %msg%n" />

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="com.dwijnand.logright.LogRightPatternLayout">
                <pattern>${pattern}</pattern>
            </layout>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="console" />
    </root>
</configuration>
